{% extends 'theme/theme.html' %}
{% block content %}

<!-- info discussion -->
<h3>{{ discussion.title }}</h3>
<span>@{{discussion.host}}</span>
<p>{{discussion.description}}</p>



<div class="message_container">
    <!-- loop over messages -->
    {% for mes in messages %}
    {% if mes.discussion == discussion %} <!-- Checks that the discussion key is the discussion -->
    <div class="message"> <!-- Relative messages are displayed -->
        <h6>{{mes.user}}</h6>
        <p>{{mes.body}}</p>
    </div>
    {% endif %}
    {% endfor %}
</div>

<style>
    .message{
        border: 2px solid black;
        border-radius: 20px;
        padding: 20px;
        margin: 20px;
    }

</style>



{% endblock %}


